afinn
boto3
cartopy
cdsapi
cftime
# climlab==0.8.2
# climlab # try to run this with no cache
# climlab-rrtmg
cmocean
decorator==5.0.9
dicelib @ https://github.com/mptouzel/PyDICE/archive/master.zip
gcsfs
geopandas
geoviews#
gsw
h5netcdf
intake
intake-esm
ipywidgets
# jinja2==2.11.3
jinja2==3.0.3
# markupsafe==1.1.1
markupsafe
#matplotlib==3.5.1
matplotlib
metpy
mystatsfunctions @ https://github.com/njleach/mystatsfunctions/archive/main.zip
nc-time-axis
netCDF4
nltk
numpy
openpyxl
pooch
pythia_datasets
pyworld3
requests
s3fs
scikit-learn
scipy<=1.11.4
seaborn
shapely==1.8.5
sphinx==3.5.4
wordcloud
# xarray==0.20.2
xarray
xarray-datatree
xmip
