requests
numpy
scipy<=1.11.4
#matplotlib==3.5.1
matplotlib
scikit-learn
ipywidgets
decorator==5.0.9
# xarray==0.20.2
xarray[complete]==2024.2.0
shapely==1.8.5
cartopy
pythia-datasets
pooch
# climlab==0.8.2
# climlab-rrtmg
cftime
geopandas
intake
intake-esm
seaborn
netCDF4
h5netcdf
nc-time-axis
geoviews
boto3
cmocean
sphinx==3.5.4
jinja2==3.0.3
markupsafe
# jinja2==2.11.3
# markupsafe==1.1.1
gsw
s3fs
metpy
xmip
pyworld3
openpyxl
wordcloud
xarray-datatree
gcsfs
# datatree # Should probably remove this, 12 year old repo, uses outdated imports for string.io
nltk
afinn
mystatsfunctions @ https://github.com/njleach/mystatsfunctions/archive/main.zip
dicelib @ https://github.com/mptouzel/PyDICE/archive/master.zip
cdsapi
texttable
lipd
pyleoclim==0.14.0
cfgrib
torch
