requests
numpy
scipy
matplotlib==3.5.1
scikit-learn
torch
ipywidgets
decorator==5.0.9
xarray
shapely==1.8.5
cartopy
pythia_datasets
pooch
climlab
intake
intake-esm
seaborn
netCDF4
h5netcdf
nc-time-axis
geoviews
boto3
cmocean
# jinja2==2.11.3
# markupsafe==1.1.1
gsw
s3fs
metpy
xmip
pyworld3
openpyxl
wordcloud
xarray-datatree
# datatree # Should probably remove this, 12 year old repo, uses outdated imports for string.io
nltk
afinn
mystatsfunctions @ https://github.com/njleach/mystatsfunctions/archive/main.zip